<a class="tooltip" a="href">Ayuda
  <span class="help">
    <h6>Descripci칩n:</h6><br />
    <dl>
      <dt>Reproducir &lt;url&gt;</dt>
      <dd>Reproducir un archivo en ubicaci칩n remota.</dd>
      <dt>ReproducirLocal &lt;ruta&gt;</dt>
      <dd>Reproducir archivo desde servidor de la ruta indicada.</dd>
      <dt>Registrar digitos</dt>
      <dd>
	Almacena digitos de la llamada.. algunas configuraciones son
	duracion=<int> tiempo para expirar antes de salir<br />
	cantidad=<int> cantidad de digitos a guardar<br />
	digitosValidos=<string> digitos a esperar<br />
	intentos=<int> intentos antes de expirar<br />
      </dd>
      <dt>Decir &lt;...mensaje...&gt;</dt>
      <dd>Dice lo indicado en mensaje, adem치s se puede incluir c칩digo entre &lt;%= .. %&gt;.<br />
	Variables: <br />
	<b>!client_id</b> ID cliente
	</dd>
    </dl>
  </span>
</a>
