<a class="tooltip" a="href">Ayuda
  <span class="help">
    <h6>Descripci칩n:</h6><br />
    <dl>
      <dt>Reproducir &lt;url&gt;</dt>
      <dd>Reproducir un archivo en ubicaci칩n remota.</dd>
      <dt>ReproducirLocal &lt;ruta&gt;</dt>
      <dd>Reproducir archivo desde servidor de la ruta indicada.</dd>
      <dt>Registrar digitos</dt>
      <dd>
	Almacena digitos de la llamada.. algunas configuraciones son:<br />
	audio=&lt;str&gt; ruta de archivo a reproducir<br />
	duracion=&lt;int&gt; tiempo para expirar antes de salir<br />
	cantidad=&lt;int&gt; cantidad de digitos a guardar<br />
	digitosValidos=&lt;str&gt; digitos a esperar<br />
	intentos=&lt;int&gt; intentos antes de expirar<br />
      </dd>
      <dt>Decir &lt;...mensaje...&gt;</dt>
      <dd>Dice lo indicado en mensaje, adem치s se puede incluir c칩digo entre &lt;%= .. %&gt;.<br />
	Variables: <br />
	<b>!client_id</b> ID cliente
      </dd>
      <dt>SI = &lt;valor&gt; (&lt;si&gt;) (&lt;no&gt;)</dt>
      <dd>Ejecuta en base a ultimo resultado<br />
	valor=&lt;str&gt; lo que se compara<br />
	  si=exp lo que se ejecuta cuando cumple<br />
	  no=exp lo que se ejecuta cuando no cumple<br />
      </dd>
      <dt>Colgar</dt>
      <dd>Cuelga la llamada</dd>
    </dl>
  </span>
</a>
