<%= link_to I18n.t('back'), messages_path, :class => "button negative" %>
<%= link_to I18n.t('show'), @message, :class => "button" %> 
<h1><%= I18n.t('message.edit.title')%></h1>

<%= render 'form' %>




