<%= link_to I18n.t('back'), operators_operator_path, :class => "button negative" %>
<%= link_to I18n.t('show'), @group, :class => "button" %> 
<h1><%= I18n.t 'group.edit.title'%></h1>

<%= render 'form' %>
