*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*.log*
/log/
/tmp
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html
**.pdf
**.mp3
**.ogg
**.wav
/app/tmp/
/app/log/
**~
**#
**.#
*~
