<%= link_to I18n.t('back'), entities_path, :class => "button negative" %>
<%= link_to I18n.t('show'), @entity, :class => "button" %> |

<h1><%= I18n.t('entity.edit.title')%></h1>

<%= render 'form' %>


