<h1><%= t('page.about.title')%></h1>
<h3>
<%= t('page.about.developer')%>
</h3><br />
<h3>
  <%= t('page.about.email')%>
</h3><br />
<h3>
  <%= t('page.about.license')%>
</h3>
<b><br />
  Medellín-Colombia
</b>
