// Place all the styles related to the Reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.report-general table caption{
   text-align: center;
   font-weight: bold
}
.report-general table tr td.title{
   text-align: center;
   font-weight: bold;
}