<%= link_to I18n.t('back'), message_calendars_path(:message_id => @message_calendar.message), :class => 'button negative' %>
<%= link_to I18n.t('show'), @message_calendar, :class => 'button' %> 
<h1><%= I18n.t('message_calendar.edit.title')%></h1>

<%= render 'form' %>



